{% extends "bases/static_main.html" %}

{% block title %}{{ super() }} - {{ trans(key="auth", lang=lang) }}{% endblock title %}

{% block main %}

<div class="auth-block">
    <script src="/static/js/common-validators.js"></script>
    <script>
        go_to_app_if_authorized()
        const error_messages = JSON.parse(`{{ trans(key='error_messages', lang=lang) | safe }}`);
        function mode() {
            const params = new URLSearchParams(window.location.search);
            return params.get("mode");
        }
    </script>
    <script src="/static/js/form-init.js"></script>
    <form class="auth-form sign-up-form" method="post">
        <h1>{{ trans(key='sign_up', lang=lang) }}</h1>
        {{ macros::form_input(title=trans(key='registration_form_username_field', lang=lang), type="text",
        name="username") }}
        {{ macros::form_input(title=trans(key='registration_form_email_field', lang=lang), type="email", name="email",
        autocomplete="email") }}
        {{ macros::form_input(title=trans(key='registration_form_password_field', lang=lang), type="password",
        autocomplete="new-password",
        name="password") }}
        <button type="submit">{{ trans(key='sign_up', lang=lang) }}</button>
        <a href="?mode=sign_in">{{ trans(key='have_account_login', lang=lang) }}</a>
        <script>
            {
                const form = document.currentScript.parentElement;
                if (mode() !== "sign_in") {
                    form_init(form, {
                        username: common_validators.not_empty,
                        email: common_validators.email,
                        password: (e) => common_validators.password(e, 0),
                    }, "/register");
                } else {
                    form.classList.add("gone");
                }
            }
        </script>
    </form>
    <form class="auth-form sign-in-form">
        <h1>{{ trans(key='sign_in', lang=lang) }}</h1>
        {{ macros::form_input(title=trans(key='registration_form_email_field', lang=lang), type="email", name="email",
        autocomplete="email") }}
        {{ macros::form_input(title=trans(key='registration_form_password_field', lang=lang), type="password",
        autocomplete="current-password",
        name="password") }}
        <button type="submit">{{ trans(key='sign_in', lang=lang) }}</button>
        <a href="?mode=sign_up">{{ trans(key='no_account_register', lang=lang) }}</a>
        <script>
            {
                const form = document.currentScript.parentElement;
                if (mode() === "sign_in") {
                    form_init(document.currentScript.parentElement, {
                        email: common_validators.not_empty,
                        password: common_validators.not_empty,
                    }, "/login");
                } else {
                    form.classList.add("gone");
                }
            }
        </script>
    </form>
</div>

{% endblock main %}
