{% extends "bases/static_main.html" %}

{% block title %}{{ super() }} - {{ trans(key="auth", lang=lang) }}{% endblock title %}

{% block main %}

<div class="auth-block">
    <script>
        const error_messages = JSON.parse(`{{ trans(key='error_messages', lang=lang) | safe }}`);
        const common_validators = {
            not_empty: (/** @type {HTMLInputElement} */ e) => {
                if (e.value.trim() === '') {
                    return 'StringIsEmpty';
                }
            },
            email: (/** @type {HTMLInputElement} */ e) => {
                const email = e.value;

                if (email.trim() === '') {
                    return 'StringIsEmpty';
                }

                const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
                if (!emailRegex.test(email)) {
                    return 'EmailFormatInvalid';
                }

                return undefined;
            },

            password: (/** @type {HTMLInputElement} */e, /** @type {number} */ strictness) => {
                const password = e.value;

                if (password.trim() === '') {
                    return 'StringIsEmpty';
                }
                if (password.length < (strictness === 0 ? 6 : strictness === 1 ? 8 : 12)) {
                    return 'PasswordTooShort';
                }
                if (password.length > 64) {
                    return 'PasswordTooLong';
                }
                if (/\s/.test(password)) {
                    return 'PasswordMustNotContainSpaces';
                }
                if (!/^[a-zA-Z0-9@#!$%^&*()_+\-=<>?{}\[\]|~]+$/.test(password)) {
                    return 'PasswordContainsInvalidCharacters';
                }
                if (!/\d/.test(password)) {
                    return 'PasswordMustContainDigit';
                }
                if (strictness === 0) {
                    return;
                }
                if (!/[A-Z]/.test(password)) {
                    return 'PasswordMustContainUppercase';
                }
                if (!/[a-z]/.test(password)) {
                    return 'PasswordMustContainLowercase';
                }
                if (strictness === 1) {
                    return;
                }
                if (!/[^\w\s:]/.test(password)) {
                    return 'PasswordMustContainSpecial';
                }
            }
        };

        /**
         *
         * @param {HTMLFormElement} form
         * @param {Object.<string, function(RadioNodeList|HTMLInputElement|HTMLTextAreaElement|Element):string|undefined>} validations
         * @param {string} address
         * @param {string} method
         */
        function form_init(form, validations, address, method = "POST") {
            const validators = {};
            const error_elements = {};
            const submit_button = form.querySelector('[type="submit"]');
            for (const element of form.elements) {
                error_elements[element.name] = element.parentElement.parentElement.querySelector(".form-input-error");
            }
            Object.entries(validations).forEach(([name, fn]) => {
                const element = form.elements[name];
                validators[name] = () => {
                    const error = fn(element);
                    const valid = error === null || error === undefined;
                    error_elements[name].innerText = error_messages[error] ?? error ?? "";
                    element.setAttribute("data-erroneous", (!valid).toString());
                    submit_button.disabled = Array.from(form.elements).some(
                        e => e.getAttribute("data-erroneous") === "true"
                    );
                    return valid;
                }
                element.addEventListener("input", () => {
                    validators[name]();
                });
                element.addEventListener("focusout", () => {
                    validators[name]();
                })
            })
            form.addEventListener("submit", async e => {
                e.preventDefault();
                let any_errors = false;
                Object.entries(validations).forEach(([name, _]) => {
                    if (!validators[name]()) {
                        any_errors = true;
                    }
                })
                if (any_errors) {
                    return
                }

                const form_data = new FormData(form);
                const body = {};
                form_data.entries().forEach(e => body[e[0]] = e[1]);
                console.log(JSON.stringify(body));
                const response = await fetch(address, {
                    method: method,
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(body),
                });
                const contentType = response.headers.get('Content-Type');
                let json;
                if (contentType && contentType.includes('application/json')) {
                    json = await response.json();
                } else {
                    console.log(await response.text());
                    json = {};
                }
                switch (json["Err"]) {
                    case undefined: {
                        window.location.href = "/app/";
                        break;
                    }
                    case "EmailTaken": {
                        error_elements["email"].innerText = error_messages["EmailTaken"];
                        form.elements["email"].setAttribute("data-erroneous", "true");
                        break;
                    }
                    case "InvalidCredentials": {
                        error_elements["password"].innerText = error_messages["InvalidCredentials"];
                        break;
                    }
                    default: {
                        const error = json["Err"];
                        Object.keys(error).forEach(key => {
                            let e = error[key];
                            while (typeof e === 'object' && e !== null) {
                                const keys = Object.keys(e);
                                e = e[keys[0]];
                            }
                            error_elements[key].innerText = error_messages[e] ?? "";
                        })
                        break;
                    }
                }
                //TODO: Send, check for errors, href
            })
        }

        function mode() {
            const params = new URLSearchParams(window.location.search);
            return params.get("mode");
        }
    </script>
    <form class="auth-form sign-up-form" method="post">
        <h1>{{ trans(key='sign_up', lang=lang) }}</h1>
        {{ macros::form_input(title=trans(key='registration_form_username_field', lang=lang), type="text",
        name="username") }}
        {{ macros::form_input(title=trans(key='registration_form_email_field', lang=lang), type="email", name="email",
        autocomplete="email") }}
        {{ macros::form_input(title=trans(key='registration_form_password_field', lang=lang), type="password",
        autocomplete="new-password",
        name="password") }}
        <button type="submit">{{ trans(key='sign_up', lang=lang) }}</button>
        <a href="?mode=sign_in">{{ trans(key='have_account_login', lang=lang) }}</a>
        <script>
            {
                const form = document.currentScript.parentElement;
                if (mode() === "sign_in") {
                    form.classList.add("gone");
                } else {
                    form_init(form, {
                        username: common_validators.not_empty,
                        email: common_validators.email,
                        password: (e) => common_validators.password(e, 0),
                    }, "/register");
                }
            }
        </script>
    </form>
    <form class="auth-form sign-in-form">
        <h1>{{ trans(key='sign_in', lang=lang) }}</h1>
        {{ macros::form_input(title=trans(key='registration_form_email_field', lang=lang), type="email", name="email",
        autocomplete="email") }}
        {{ macros::form_input(title=trans(key='registration_form_password_field', lang=lang), type="password",
        autocomplete="current-password",
        name="password") }}
        <button type="submit">{{ trans(key='sign_in', lang=lang) }}</button>
        <a href="?mode=sign_up">{{ trans(key='no_account_register', lang=lang) }}</a>
        <script>
            {
                const form = document.currentScript.parentElement;
                if (mode() !== "sign_in") {
                    form.classList.add("gone");
                } else {
                    form_init(document.currentScript.parentElement, {
                        email: common_validators.not_empty,
                        password: common_validators.not_empty,
                    }, "/login");
                }
            }
        </script>
    </form>
</div>

{% endblock main %}
